* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}


a {
    text-decoration: none;
}


video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


.ContainerHeader {
    position: fixed;
    height: 230px;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
    z-index: 1;
}

.Opciones {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 50%;
    margin: 2% auto 0;
}

.FLIX {
    padding-top: 1%;
}

.LogoInter {
    position: absolute;
    top: 45%;
    left: 0%;
    width: 32%;
    height: auto;
    z-index: 1;
}


main {
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: -2;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.Principal {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    height: 700px;
}


.infox {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 900px;
    margin: 23.5% 0 0 3%;
    z-index: 1;
    gap: 3px;
    align-items: flex-start;
    background-color: transparent;
}


.ContenedorP {
    display: flex;
    height: 500px;
    background-color: black;
    width: 100%;
    gap: 90px;
}


p,
.t2,
.t3,
.t4 {
    color: #C7C7C7;
}

p {
    font-family: "Segoe UI";
    font-weight: 500;
    font-size: 19px;
}

.t2 {
    font-size: 15px;
    font-weight: 480;
}

.t3 {
    font-size: 13px;
    font-weight: 390;
}

.t4 {
    color: #ffffff;
}


.fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0));
    z-index: 1;
}


.Relacionados,
.Sinopsis {
    width: 100%;
    background-color: transparent;
}

.Relacionados {
    display: flex;
    height: 50px;
    margin-top: 0;

}

.Sinopsis {
    height: 150px;
    margin: 5.5% 0 0 0;
    z-index: 1;
}