* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ContainerHeader {
    position: fixed;
    height: 230px;
    width: 100%;
    text-align: center;
    justify-content: center;
    border: solid black;
    padding-top: 0%;
    top: 0;
}
.itb {

    border: solid yellow;

}
.FLIX{
    padding-top: 1%;
}
.Item{

    font-weight: 350;

}
p{
    font-family: "Segoe UI";
    font-weight: 500;
    font-size: 19px;
    color: #C7C7C7;
}
.Opciones{
    
    display: flex;
    justify-content: space-around;
  
    gap: 10px;   
    width: 50%;
    margin-left: 26%; 
    margin-top: 8%;

}



.Peliculas{
    display: flex;
    background-color: rgb(59, 49, 49);
    border: solid blue;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;    
}

main{
    background-color: rgb(59, 49, 49);
    

}

.Interestellar, .Inception, .Tenet{
    padding-top: 5%;

    
    width: 30%;
   
}
.Shutter, .War, .Insidious{
        
    width: 30%;
}


.Actores {

    border: solid green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 0px;
    
}
.TituloAct, .TituloPel, .TituloSer{

    width: 100%;

}
.Series{

    display: flex;
    background-color: rgb(59, 49, 49);
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.Breaking, .Dark, .GOT, .PK, .What, .Rick{

    justify-items: center;
    width: 30%;
    


}