* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ContainerHeader {
    position: fixed;
    background-color: rgb(156, 0, 0);
    height: 230px;
    width: 100%;
    text-align: center;
    justify-items: center;
    border: solid black;
    padding-top: 0%;
    top: 0;
}

.Opciones{
    
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    gap: 10px;   
    width: 50%;
    margin: 8%; 

}
.Item{

    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}


.Peliculas{
    display: flex;
    background-color: rgb(59, 49, 49);
    border: solid black;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
main{

    margin-top: 230px;

}

.Interestellar, .Inception, .Tenet,
.Shutter, .War, .Insidious{
   
   
    border: solid salmon;
        
    width: 30%;


}


.Actores {

    background-color: rgb(59, 49, 49);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.Series{

    display: flex;
    background-color: rgb(59, 49, 49);
    gap: 40px;
}
.Breaking{

    justify-items: center;
    width: 30%;
    


}